In [1]:
from tkinter.font import names
import pandas as pd
import random

In [2]:
# df = pd.read_csv('GARAN.E.csv', index_col=0, parse_dates=True)

col_list = ["network_time", "bist_time", "msg_type", "asset_name", "side", "price", "que_loc", "qty", "order_id"]
df = pd.read_csv('GARAN.E.csv', names=col_list)
# drop all column where order_type is O, reset the index
df = df[df.msg_type != 'O'].reset_index(drop=True)

In [3]:
df.head()

,network_time,bist_time,msg_type,asset_name,side,price,que_loc,qty,order_id
0,1663743326422549825,1663743326297788999,A,GARAN.E,B,19.92,1,34359,7621969089428932409
1,1663743326422549825,1663743326297788999,A,GARAN.E,B,19.92,2,4,7621969089428954050
2,1663743326422549825,1663743326297788999,A,GARAN.E,B,19.92,3,1500,7621969089428987978
3,1663743326422549825,1663743326297788999,A,GARAN.E,B,19.91,4,700,7621969089428658849
4,1663743326422549825,1663743326297788999,A,GARAN.E,B,19.91,5,20,7621969089428673766

In [4]:
df.tail()

,network_time,bist_time,msg_type,asset_name,side,price,que_loc,qty,order_id
351411,1663773000205261845,1663773000195176743,D,GARAN.E,S,0.0,0,0,7621969089499120530
351412,1663773000205261845,1663773000195176743,D,GARAN.E,S,0.0,0,0,7621969089506173492
351413,1663773000205261845,1663773000195176743,D,GARAN.E,S,0.0,0,0,7621969089506641023
351414,1663773000205261845,1663773000195176743,D,GARAN.E,S,0.0,0,0,7621969089507064740
351415,1663773000205261845,1663773000195176743,D,GARAN.E,S,0.0,0,0,7621969089510046617

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351416 entries, 0 to 351415
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   network_time  351416 non-null  int64
 1   bist_time     351416 non-null  int64
 2   msg_type      351416 non-null  object
 3   asset_name    351416 non-null  object
 4   side          351416 non-null  object
 5   price         351416 non-null  float64
 6   que_loc       351416 non-null  int64
 7   qty           351416 non-null  int64
 8   order_id      351416 non-null  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 24.1+ MB

In [6]:
Arows = df[df.msg_type == 'A'].shape[0]

In [7]:
Erows = df[df.msg_type == 'E'].shape[0]

In [8]:
Drows = df[df.msg_type == 'D'].shape[0]

In [9]:
print('Number of rows where msg_type == A: ', Arows)
print('Number of rows where msg_type == E: ', Erows)
print('Number of rows where msg_type == D: ', Drows)
print('Number of rows where msg_type == (D or E): ', Erows + Drows)

"""
So it appears that, while pairwise number of D and E orders are less than A orders,
the total number of D and E orders are greater than A orders.
This suggests that some D orders are cancelled before they are executed.
"""

Number of rows where msg_type == A:  145403
Number of rows where msg_type == E:  120953
Number of rows where msg_type == D:  85060
Number of rows where msg_type == (D or E):  206013

'\nSo it appears that, while pairwise number of D and E orders are less than A orders,\nthe total number of D and E orders are greater than A orders.\nThis suggests that some D orders are cancelled before they are executed.\n'

In [10]:
df_sample_Ds = df[df.msg_type == 'D'].sample(100)

In [11]:
# df_sample_Ds['origin_type'] = None

In [12]:
df_AandE = df[(df.msg_type == 'A') | (df.msg_type == 'E')]

In [13]:
def get_msg_type(row):
    """
    Given order_id, returns msg_type of the order.
    """
    # print(df_AandE[df_AandE.order_id == order_id].msg_type.values[0])
    print()
    print(row.name)
    print(df_AandE[df_AandE.order_id == row.order_id].msg_type)


# run populate column origin_type by running get_msg_type on each row of df_sample_Ds
# df_sample_Ds['origin_type'] = df_sample_Ds.apply(lambda x: get_msg_type(x.order_id), axis=1)
df_sample_Ds.apply(lambda x: get_msg_type(x), axis=1)

337120
141115    A
331590    A
342650    A
Name: msg_type, dtype: object

246369
246354    A
246366    E
246368    E
Name: msg_type, dtype: object

339505
1642      A
333975    A
345035    A
Name: msg_type, dtype: object

346774
293280    A
329895    A
340955    A
Name: msg_type, dtype: object

189663
188877    A
Name: msg_type, dtype: object

256365
255644    A
Name: msg_type, dtype: object

104046
104011    A
104043    E
Name: msg_type, dtype: object

336531
286431    A
331001    A
342061    A
Name: msg_type, dtype: object

72348
72134    A
Name: msg_type, dtype: object

271266
271201    A
Name: msg_type, dtype: object

237172
231669    A
Name: msg_type, dtype: object

190419
190323    A
190420    A
190422    A
190533    E
190536    E
190544    E
Name: msg_type, dtype: object

87367
81487    A
81555    A
83416    A
83529    A
83677    A
        ..
99722    A
99912    E
99917    A
99953    A
99974    E
Name: msg_type, Length: 171, dtype: object

132517
132318    A
132439    A
132441    A
132515    A
132518    A
Name: msg_type, dtype: object

85748
39551    A
85749    A
86565    A
92128    E
Name: msg_type, dtype: object

348699
194662    A
331844    A
342904    A
Name: msg_type, dtype: object

328008
1316      A
333544    A
344604    A
Name: msg_type, dtype: object

80353
80345    A
Name: msg_type, dtype: object

72863
72860    A
Name: msg_type, dtype: object

75255
75006    A
Name: msg_type, dtype: object

335763
504       A
330233    A
341293    A
Name: msg_type, dtype: object

76190
76155    A
76191    A
76193    A
76214    A
76294    A
76361    A
76364    A
Name: msg_type, dtype: object

164273
146037    A
146040    A
146137    A
159433    A
159448    A
159461    A
159547    A
159607    A
159912    A
160053    A
160722    A
160964    A
161333    A
161421    A
161778    A
161811    A
161902    A
161915    A
162002    A
162012    A
162020    A
162199    A
162224    A
162409    A
162417    A
162513    A
162536    A
162757    A
162824    A
162839    A
162842    A
162921    A
163286    A
163312    A
163320    A
163324    A
163413    A
163564    A
163577    A
163610    A
163620    A
163961    A
163976    A
164011    A
164252    A
164274    A
164286    E
164291    E
Name: msg_type, dtype: object

79440
26000    A
Name: msg_type, dtype: object

157987
74900    A
Name: msg_type, dtype: object

244182
243852    A
Name: msg_type, dtype: object

211573
211498    A
Name: msg_type, dtype: object

338006
147325    A
332476    A
343536    A
Name: msg_type, dtype: object

265122
160343    A
Name: msg_type, dtype: object

90303
81488    A
81582    A
83305    A
83310    A
83331    A
        ..
93076    A
93081    A
93207    A
93238    A
93264    E
Name: msg_type, Length: 78, dtype: object

118177
64559     A
91525     A
95309     A
95942     A
102843    A
111202    A
111640    A
112132    A
114707    A
118178    A
121116    E
Name: msg_type, dtype: object

32660
32631    A
Name: msg_type, dtype: object

31076
14542    A
17685    A
17734    A
17768    A
17963    A
        ..
37214    A
37222    A
37249    A
37511    A
37571    E
Name: msg_type, Length: 80, dtype: object

32578
14542    A
17685    A
17734    A
17768    A
17963    A
        ..
37214    A
37222    A
37249    A
37511    A
37571    E
Name: msg_type, Length: 80, dtype: object

348416
183940    A
331560    A
342620    A
Name: msg_type, dtype: object

74883
74820    A
Name: msg_type, dtype: object

12970
3165     A
12971    A
14834    A
15660    A
16065    E
Name: msg_type, dtype: object

329005
90732     A
334535    A
345595    A
Name: msg_type, dtype: object

337737
124620    A
332207    A
343267    A
Name: msg_type, dtype: object

338473
21832     A
332943    A
344003    A
Name: msg_type, dtype: object

113210
103695    A
111523    A
113211    A
119289    A
Name: msg_type, dtype: object

158306
76701    A
Name: msg_type, dtype: object

160248
160145    A
Name: msg_type, dtype: object

93054
92624    A
92789    A
93052    A
93055    A
93175    E
Name: msg_type, dtype: object

309208
308817    A
Name: msg_type, dtype: object

76323
76317    A
Name: msg_type, dtype: object

328825
1947      A
334356    A
345416    A
Name: msg_type, dtype: object

337427
202568    A
331897    A
342957    A
Name: msg_type, dtype: object

227278
227234    A
Name: msg_type, dtype: object

234759
230889    A
Name: msg_type, dtype: object

210438
210435    A
Name: msg_type, dtype: object

135695
116372    A
135565    A
135696    A
332722    A
343782    A
Name: msg_type, dtype: object

247186
246921    A
Name: msg_type, dtype: object

84279
84220    A
Name: msg_type, dtype: object

179309
179185    A
Name: msg_type, dtype: object

49979
49800    A
Name: msg_type, dtype: object

95800
58634     A
88589     A
89103     A
89559     A
94527     A
94780     A
95178     A
95801     A
102686    A
110938    A
111474    A
111974    A
114588    A
118062    A
121066    E
Name: msg_type, dtype: object

224170
224136    A
224143    E
224153    A
224171    A
224196    E
Name: msg_type, dtype: object

188605
171076    A
174061    A
174276    A
174339    A
174359    A
         ..
191490    A
191513    A
191904    A
192062    A
192071    E
Name: msg_type, Length: 187, dtype: object

328836
1956      A
334367    A
345427    A
Name: msg_type, dtype: object

125688
125659    A
125669    E
125670    E
125671    E
125675    E
125678    E
125679    E
125680    E
125684    E
125685    E
125687    E
Name: msg_type, dtype: object

42697
42693    A
Name: msg_type, dtype: object

297721
297283    A
Name: msg_type, dtype: object

105724
105715    A
Name: msg_type, dtype: object

327049
109509    A
332599    A
343659    A
Name: msg_type, dtype: object

350578
1444      A
333728    A
344788    A
Name: msg_type, dtype: object

234197
231979    A
232005    A
232484    A
232853    A
232863    A
232952    A
232966    A
232977    A
233672    A
233765    A
234015    A
234104    A
234117    A
234198    A
234264    A
234286    A
234782    A
235108    A
235292    A
235297    A
235301    A
235303    A
235308    A
235527    A
235536    A
235655    A
235890    A
235989    A
236007    A
236092    A
236099    E
Name: msg_type, dtype: object

153335
153330    A
Name: msg_type, dtype: object

167956
167934    A
Name: msg_type, dtype: object

57809
57789    A
Name: msg_type, dtype: object

235113
1041    A
Name: msg_type, dtype: object

292110
292101    A
Name: msg_type, dtype: object

112838
112510    A
Name: msg_type, dtype: object

276109
276102    A
Name: msg_type, dtype: object

283900
283844    A
Name: msg_type, dtype: object

223749
223727    A
Name: msg_type, dtype: object

229145
229138    A
Name: msg_type, dtype: object

139099
121358    A
121371    A
121510    A
126438    A
126443    A
137323    A
137755    A
137765    A
137790    A
137794    A
137829    A
137945    A
137961    A
138035    A
138134    A
138198    A
138236    A
138603    A
138612    A
138617    A
138634    A
138637    A
138643    A
138649    A
138653    A
138681    A
138693    A
138946    A
139100    A
139114    A
139146    A
139193    A
139359    E
Name: msg_type, dtype: object

284687
252794    A
Name: msg_type, dtype: object

166481
166470    A
Name: msg_type, dtype: object

162537
162448    A
Name: msg_type, dtype: object

87655
87526    A
Name: msg_type, dtype: object

260645
260597    A
Name: msg_type, dtype: object

105969
14326     A
39124     A
105970    A
177149    A
236700    A
294009    A
294065    A
302047    E
Name: msg_type, dtype: object

206592
206472    A
206593    A
206594    E
Name: msg_type, dtype: object

258378
258287    A
Name: msg_type, dtype: object

300486
300483    A
Name: msg_type, dtype: object

280925
280917    A
Name: msg_type, dtype: object

62590
62567    A
Name: msg_type, dtype: object

35745
35722    A
Name: msg_type, dtype: object

175285
171073    A
171078    A
171127    A
172348    A
172389    A
172412    A
172497    A
172581    A
172617    A
172656    A
172681    A
172729    A
172788    A
172812    A
172855    A
172937    A
172964    A
173317    A
173438    A
173512    A
173707    A
173740    A
173746    A
173867    A
173901    A
173959    A
174054    A
174099    A
174223    A
174295    A
174305    A
174383    A
174980    A
175027    A
175045    A
175115    A
175120    A
175221    A
175228    A
175254    A
175286    A
175389    A
175395    A
175399    A
175475    A
175503    A
175567    A
176017    A
176578    A
176646    A
176787    E
Name: msg_type, dtype: object

217353
216792    A
216805    A
217238    A
217337    A
217341    A
217347    A
217351    A
217354    A
217358    A
217364    A
217368    A
217553    A
218287    A
218338    A
218354    A
218518    A
218832    A
218843    A
219594    A
219601    A
219603    A
219607    A
219620    A
219623    A
219636    A
219656    A
219765    A
220307    A
220662    A
220765    A
220789    A
221118    A
221260    A
221264    A
221580    A
221586    A
221591    A
221760    A
221762    A
221776    A
221808    E
Name: msg_type, dtype: object

323895
210774    A
329536    A
340596    A
Name: msg_type, dtype: object

49439
32753    A
32759    A
33024    A
33208    A
33253    A
        ..
50640    A
50732    A
50777    A
50780    A
51461    E
Name: msg_type, Length: 117, dtype: object

232800
232122    A
Name: msg_type, dtype: object

40698
40541    A
Name: msg_type, dtype: object

68022
63284    A
66085    A
66094    A
66245    A
66318    A
        ..
74272    A
74281    A
74286    A
74291    A
74300    E
Name: msg_type, Length: 180, dtype: object

150051
149873    A
Name: msg_type, dtype: object

43010
996    A
Name: msg_type, dtype: object

325038
322882    A
Name: msg_type, dtype: object

337120    None
246369    None
339505    None
346774    None
189663    None
          ...
40698     None
68022     None
150051    None
43010     None
325038    None
Length: 100, dtype: object

In [14]:
# from df_AandE, get get rows with index == [189809, 251541]
df_AandE.loc[[52296, 52304, 52345]]

,network_time,bist_time,msg_type,asset_name,side,price,que_loc,qty,order_id
52296,1663746418519955569,1663746418520159649,E,GARAN.E,S,0.00,0,3,7621969089444292518
52304,1663746419049178011,1663746419049406821,A,GARAN.E,S,19.59,3,388,7621969089444294357
52345,1663746421089479079,1663746421089667623,E,GARAN.E,S,0.00,0,100,7621969089444301599

In [15]:
"""
Few findings:
1. Orders D frequently match more than 1 order A or E.
2. There seems to be too much overlap of A or E orders that have the same ID.
3. There are 111 950 Unique IDs vs 351 416 rows in the dataset. 
Thus, on average, 3.13 orders per signal. 
"""

'\nFew findings:\n1. Orders D frequently match more than 1 order A or E.\n2. There seems to be too much overlap of A or E orders that have the same ID.\n3. There are 111 950 Unique IDs vs 351 416 rows in the dataset. \nThus, on average, 3.13 orders per signal. \n'

In [16]:
print("List of unique values in column 'order_id': ")
order_id_unique = df['order_id'].unique()
print(order_id_unique)
print("Size:")
print(order_id_unique.size)

List of unique values in column 'order_id':
[7621969089428932409 7621969089428954050 7621969089428987978 ...
 7621969089510742309 7621969089510742423 7621969089510747416]
Size:
111949

In [17]:
# create a new list with 50 random items from order_id_unique,

random_order_id_unique = random.sample(list(order_id_unique), 500)

col_names = ["order_id", "tot_A_rows", "tot_E_rows", "tot_D_rows"]

# create a new dataframe with the column names, where column order_id are items in random_order_id_unique
df_random_order_id_unique = pd.DataFrame(columns = col_names)
df_random_order_id_unique['order_id'] = random_order_id_unique

In [18]:
def count_tot_msg_type(order_id, msg_type):
    """
    Given order_id, returns the total number of rows where msg_type == A, E, D
    """
    tot_rows = df[(df.msg_type == msg_type) & (df.order_id == order_id)].shape[0]
    return tot_rows

In [19]:
df_random_order_id_unique['tot_A_rows'] = df_random_order_id_unique.apply(lambda x: count_tot_msg_type(x.order_id, "A"), axis=1)
df_random_order_id_unique['tot_E_rows'] = df_random_order_id_unique.apply(lambda x: count_tot_msg_type(x.order_id, "E"), axis=1)
df_random_order_id_unique['tot_D_rows'] = df_random_order_id_unique.apply(lambda x: count_tot_msg_type(x.order_id, "D"), axis=1)

In [20]:
df_random_order_id_unique

""""
Few findings:
1. Each msg_type except A can be zero -> Orders are assigned id at the first A order
2. Each msg_type can be more than 1
3. E may exceed sum of A and D -> Some order are executed twice, thus these should be ignored
4. D may not exceed A -> Each order A is cancelled at most once
5. A may not exceed sum of D and E, is usually the sum of D and E but sometimes can be less than that
-> Each order A is either executed or cancelled, but sometimes not cancelled
"""

'"\nFew findings:\n1. Each msg_type except A can be zero -> Orders are assigned id at the first A order\n2. Each msg_type can be more than 1\n3. E may exceed sum of A and D -> Some order are executed twice, thus these should be ignored\n4. D may not exceed A -> Each order A is cancelled at most once\n5. A may not exceed sum of D and E, is usually the sum of D and E but sometimes can be less than that\n-> Each order A is either executed or cancelled, but sometimes not cancelled\n'

In [21]:
#  check the number of rows in df_random_order_id_unique where tot_D_rows > tot_A_rows
df_random_order_id_unique[df_random_order_id_unique.tot_D_rows > df_random_order_id_unique.tot_A_rows].shape[0]

0

In [22]:
#  check the number of rows in df_random_order_id_unique where tot_A_rows > (tot_E_rows + tot_D_rows)
df_random_order_id_unique[df_random_order_id_unique.tot_A_rows == (df_random_order_id_unique.tot_E_rows + df_random_order_id_unique.tot_D_rows)].shape[0]

425

In [23]:
df_random_order_id_unique

                order_id  tot_A_rows  tot_E_rows  tot_D_rows
0    7621969089486943746           1          15           0
1    7621969089500649847           1           0           1
2    7621969089438728486           1           1           0
3    7621969089452098608           1           0           1
4    7621969089453407177           9           1           8
..                   ...         ...         ...         ...
495  7621969089503967159           1           0           1
496  7621969089432771166           1           0           1
497  7621969089451591160           1           1           0
498  7621969089493272295           1           1           0
499  7621969089492721972           1           1           0

[500 rows x 4 columns]

In [24]:
#  check the number of rows in df_random_order_id_unique where tot_A_rows > (tot_E_rows + tot_D_rows)
df_random_order_id_unique[df_random_order_id_unique.tot_A_rows < (df_random_order_id_unique.tot_E_rows + df_random_order_id_unique.tot_D_rows)].shape[0]

75

In [25]:
def get_order_sequence(order_id):
    """
    Given order_id, returns A list of msg_type in the order of their occurence
    """
    order_sequence = df[df.order_id == order_id].msg_type.to_list()
    return order_sequence

df_random_order_id_unique['order_list'] = df_random_order_id_unique.apply(lambda x: get_order_sequence(x.order_id), axis=1)

In [26]:
# get print 30 random rows from df_random_order_id_unique
df_random_order_id_unique.sample(30)

,order_id,tot_A_rows,tot_E_rows,tot_D_rows,order_list
363,7621969089462521760,1,1,0,"[A, E]"
110,7621969089501629531,3,0,3,"[A, D, A, D, A, D]"
481,7621969089454728910,1,1,0,"[A, E]"
424,7621969089458556163,1,0,1,"[A, D]"
437,7621969089504498272,1,1,0,"[A, E]"
3,7621969089452098608,1,0,1,"[A, D]"
20,7621969089461160229,1,3,0,"[A, E, E, E]"
339,7621969089461917656,1,1,0,"[A, E]"
101,7621969089488583197,1,1,0,"[A, E]"
86,7621969089477361080,1,0,1,"[A, D]"
243,7621969089495492250,1,0,1,"[A, D]"
99,7621969089450849998,1,1,0,"[A, E]"
329,7621969089482695236,13,0,13,"[A, D, A, D, A, D, A, D, A, D, A, D, A, D, A, ..."
67,7621969089451576310,1,0,1,"[A, D]"
69,7621969089499144150,1,10,0,"[A, E, E, E, E, E, E, E, E, E, E]"
403,7621969089446057858,3,1,2,"[A, D, A, D, A, E]"
395,7621969089486049800,1,1,0,"[A, E]"
181,7621969089489523629,1,0,1,"[A, D]"
4,7621969089453407177,9,1,8,"[A, D, A, D, A, D, A, D, A, D, A, D, A, D, A, ..."
498,7621969089493272295,1,1,0,"[A, E]"
111,7621969089460688279,1,9,0,"[A, E, E, E, E, E, E, E, E, E]"
250,7621969089428666759,4,0,4,"[A, D, A, D, A, D, A, D]"
421,7621969089479290087,1,0,1,"[A, D]"
270,7621969089487605969,2,1,1,"[A, D, A, E]"
271,7621969089472807322,3,0,3,"[A, D, A, D, A, D]"
365,7621969089472260353,1,0,1,"[A, D]"
310,7621969089487704137,64,1,63,"[A, D, A, D, A, D, A, D, A, D, A, D, A, D, A, ..."
218,7621969089505748418,1,1,0,"[A, E]"
465,7621969089449528737,1,2,1,"[A, E, E, D]"
414,7621969089433785863,1,0,1,"[A, D]"

In [27]:
""""
Few findings:
1. Each msg_type except A can be zero -> Orders are assigned id at the first A order
2. Each msg_type can be more than 1
3. E may exceed sum of A and D -> Some order are executed twice, thus these should be ignored
4. D may not exceed A -> Each order A is cancelled at most once
5. A may not exceed sum of D and E, is usually the sum of D and E but sometimes can be less than that
-> Each order A is may be executed multiple times, thus these should be ignored

Msg_type logic:
- A new order_id is assigned only to A type order. 
- Some orders are executed multiple times, which means some oftem do not result in execution
- Since A is at 90% of the cases the sum of D and E, and number of D's doesn't exceed A's, each order A is being either cancelled once or executed (commonly once but
sometimes multiple times)
- For order A to be executed, it must have a corresponding order E, which can be updated multiple times. 
- The same order_id can be assigned to other A orders when it is either filled, or cancelled. 
"""

'"\nFew findings:\n1. Each msg_type except A can be zero -> Orders are assigned id at the first A order\n2. Each msg_type can be more than 1\n3. E may exceed sum of A and D -> Some order are executed twice, thus these should be ignored\n4. D may not exceed A -> Each order A is cancelled at most once\n5. A may not exceed sum of D and E, is usually the sum of D and E but sometimes can be less than that\n-> Each order A is may be executed multiple times, thus these should be ignored\n\nMsg_type logic:\n- A new order_id is assigned only to A type order. \n- Some orders are executed multiple times, which means some oftem do not result in execution\n- Since A is at 90% of the cases the sum of D and E, and number of D\'s doesn\'t exceed A\'s, each order A is being either cancelled once or executed (commonly once but\nsometimes multiple times)\n- For order A to be executed, it must have a corresponding order E, which can be updated multiple times. \n- The same order_id can be assigned to other A orders when it is either filled, or cancelled. \n'